* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scrollbar-width: thin;
	scrollbar-color: var(--color-primary-100) var(--color-surface-100);
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-surface-100);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary-100);
	border-radius: 14px;
	border: 0.1rem solid var(--color-primary-100);
}

body {
	font-family: 'Inter Variable', sans-serif;
	overflow-x: hidden ;
}

kbd {
	@apply bg-slate-800 dark:bg-raisin-black-600 text-white rounded-md p-1 inline-flex mt-1;
}

.app {
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	/* grid-template-rows: auto 1fr auto; */
	overflow-x: hidden;
}

.title {
	@apply font-bold text-4xl text-center text-balance;
}

.subtitle {
	@apply font-bold text-center text-balance;
}

.content {
	@apply flex flex-col gap-2;
}

.operations {
	@apply grid grid-cols-1 gap-4 my-4 items-start md:grid-cols-2;
}

.captures {
	@apply grid grid-cols-1 gap-4 my-4 items-start md:grid-cols-2;
}