---
type Props = {
  title: string
  description: string
  icon: string
  url: string
}

const { title, description, icon, url } = Astro.props
---

<article class="w-full p-4 rounded-md flex flex-col gap-4">
  <a
    class="inline-flex gap-2 items-center bg-primary-100 p-2 rounded-md focus:bg-primary-300 hover:bg-primary-300 w-fit"
    target="_blank"
    href={url}><span class={`${icon}`}></span>{title}</a
  >
  <p class="text-justify hidden">{description}</p>
</article>

<style></style>
