---
import "@fontsource-variable/inter"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #7678ed;
    --color-primary-200: #8886f0;
    --color-primary-300: #9894f2;
    --color-primary-400: #a8a3f4;
    --color-primary-500: #b7b2f6;
    --color-primary-600: #c6c1f8;

    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #1a202c;
    --color-surface-200: #2f3540;
    --color-surface-300: #464b55;
    --color-surface-400: #5e626b;
    --color-surface-500: #777a82;
    --color-surface-600: #90939a;

    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #2b304e;
    --color-surface-mixed-200: #404460;
    --color-surface-mixed-300: #565972;
    --color-surface-mixed-400: #6c6e85;
    --color-surface-mixed-500: #838599;
    --color-surface-mixed-600: #9b9cac;

    font-family: "Inter Variable", system-ui, sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
