.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: .2rem;
  height: min-content;
}

.image {
  width: 100%;
  height: auto;
  border: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.title {

}

.content {

}