.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.6rem;
  color: var(--separator-bg);
}

.text {
  text-align: justify;
  line-height: 1.6rem;
}

.toggleViewButton {
  cursor: pointer;
  background-color: var(--code-toggler-bg);
  border: .1rem solid transparent;
  padding: 1rem;
  /* width: 10%; */
}

.toggleViewButton:active {
  transform: scale(0.9);
}