.footer {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--footer-bg);
}

.title {
  font-size: 1rem;
  text-align: center;
}

.socialNetworks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr));
  gap: 1rem;
}



@media screen and (min-width: 960px) {
  
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }

}