.container {
  position: relative;
}

.landImage {
  width: 100%;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
}

.overlay p {
  color: white;
  font-size: 8vw;
  font-weight: bold;
}

@media screen and (min-width: 960px) {
  .overlay {
    top: 30%;
  }

  .landImage {
    width: 100%;
    height: calc(100% - 100px);
  }
}