.navigation {
  background-color: var(--navbar-bg);
  padding: 1rem;
  color: white;
  flex-direction: column;
}

.mobile {
  gap: 1rem;
}

.brandContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.brand {
  flex-grow: 0;
  gap: .5rem;
}

.title {
  text-align: left;
}

.menuToggler {
  font-size: 2rem;
}

@media screen and (min-width: 960px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
  .brandContainer {
    width: auto;
  }
}