.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* width: 50%; */
  /* margin-bottom: 1rem; */
}

.text {
  text-align: justify;
}

.infoTitle {
  padding: 1rem;
  font-size: 2.5rem;
}

.codeContainer {
  width: calc(100% - 2rem);
  /* width: 50%; */
  margin: 0 auto;
}

@media screen and (min-width: 960px){
  .container {
    width: 50%;
    margin: 0 auto;
    /* margin-bottom: 1rem; */
  }
}
