.container {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.icon {
  font-size: 2rem;
  color: var(--navbar-bg)
}

.name {
  text-decoration: none;
  color: black;
}

.name:hover,
.name:active {
  color: var(--separator-bg);
}