.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 2rem;
  padding-top: 0;
}

.title {
  font-weight: bold; 
}


.content {
  /* padding: 0.5rem; */
  width: clamp(fit-content, 50%);
  text-align: justify;
}

@media screen and (min-width: 960px) {
  .title {
    font-size: 2vw;
  }

  .image {
    width: fit-content;
  }

  .title {
    text-align: left;
  }
}